
<div class="w3-row" style="background-color: red;">
 <div class="w3-half  w3-container" >
  <div>
    <mat-form-field style="font-size: 18px; width: 50%"></mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="Matricula"

        required
      />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field
      id="campo-senha"
      style="font-size: 18px; width: 50%"
    >
      <mat-label>Senha</mat-label>
      <input
        matInput
        placeholder="Senha"

        type="password"
        required
      />
    </mat-form-field>
  </div>
 </div>

</div>

<div class="w3-row">
  <div class="w3-half w3-container w3-green">
    <h2>w3-half</h2>
  </div>
  <div class="w3-half w3-container">
    <h2>w3-half</h2>
  </div>
</div>
