<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<div style="background-color: #f3f3f3">
  <button mat-button>OCORRÊNCIAS</button>
  <button mat-button>EQUIPAMENTOS</button>
  <button mat-button>VIATURAS</button>
  <button mat-button>EQUIPES</button>
  <button mat-button>RELATÓRIO</button>
  <button mat-button>
    <a style="text-decoration: none" href="/bombeiros/criar">BOMBEIRO</a>
  </button>
</div>
<mat-divider style="border-top-color: black"></mat-divider>
<router-outlet></router-outlet>
