<div style="text-align: center; margin-top: 2%;">
  <mat-label style="font-size: 45px;">CADASTRO DE BOMBEIRO</mat-label>
</div>
<mat-horizontal-stepper [linear]="isLinear" fxFlex="100" labelPosition="bottom"
  style="margin-left: 10%; margin-right: 10%;" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>DADOS PESSOAIS</ng-template>

      <div class="w3-row " style="text-align: center ">
        <div class="w3-row " style="text-align: center; margin-left: 10%; margin-right: 10%;">

          <div class="w3-half w3-container " style="text-align: center;">
            <mat-form-field style="font-size: 18px; width: 75%;">
              <mat-label>Nome</mat-label>
              <input matInput placeholder="Nome" style="font-size: 18px;" formControlName="firstCtrlNome" required>
            </mat-form-field>
          </div>

          <div class="w3-half w3-container" style="text-align: center;">
            <mat-form-field style="font-size: 18px; width: 75%;">
              <mat-label>Data de Nascimento</mat-label>
              <input matInput placeholder="00/00/0000" formControlName="firstCtrlData" required>
            </mat-form-field>
          </div>

          <div class="w3-half w3-container" style="text-align: center;">
            <mat-form-field style="font-size: 18px; width: 75%;">
              <mat-label>RG</mat-label>
              <input matInput placeholder="0.000.000" formControlName="firstCtrlRG" required>
            </mat-form-field>
          </div>

          <div class="w3-half w3-container" style="text-align: center;">
            <mat-form-field style="font-size: 18px; width: 75%;">
              <mat-label>Telefone</mat-label>
              <input matInput placeholder="(00)0 0000-0000" formControlName="firstCtrlFone" required>
            </mat-form-field>
          </div>

          <div class="w3-half w3-container" style="text-align: center;">
            <div>
              <mat-form-field style="font-size: 18px; width: 75%;">
                <mat-label>CPF</mat-label>
                <input matInput placeholder="000.000.000-00" formControlName="firstCtrlCPF" required>
              </mat-form-field>
            </div>
            <div style="text-align: left; margin-left: 50px;">
              <mat-radio-group aria-label="Select an option" formControlName="firstCtrlSexo" required>
                <div style="margin-top: 10px;">
                  <mat-radio-button value="1" style="color: gray;">Masculino</mat-radio-button>
                </div>
                <div style="margin-top: 20px;">
                  <mat-radio-button value="2" style="color: gray;">Feminino</mat-radio-button>
                </div>
              </mat-radio-group>
            </div>
          </div>

          <div class="w3-half w3-container" style="text-align: center;">
            <mat-form-field style="font-size: 18px; width: 75%;">
              <mat-label>Órgão Expedidor</mat-label>
              <input matInput placeholder="Órgão Expedidor" formControlName="firstCtrlExpedidor" required>
            </mat-form-field>
          </div>

        </div>
      </div>
      <div class="w3-row " style="text-align: center; margin-top: 50px; ">
        <div class="w3-half w3-container" style="text-align: center;">
          <button mat-raised-button matStepperNext
            style="font-size: 28px; color: white; background-color: red; line-height: 50px;">Cancelar</button>
        </div>
        <div class="w3-half w3-container" style="text-align: center;">
          <button mat-raised-button matStepperNext
            style="font-size: 28px; color: white; background-color: green; line-height: 50px;">Continuar</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">

    <form [formGroup]="secondFormGroup">

      <ng-template matStepLabel>INFORMAÇÕES DA PROFISSÃO</ng-template>

      <div class="w3-row " style="text-align: center ">

        <div class="w3-row " style="text-align: center; margin-left: 10%; margin-right: 10%;">

          <div>
            <mat-form-field style="font-size: 18px; width: 50%;">
              <mat-label>Matrícula</mat-label>
              <input matInput placeholder="Matrícula" formControlName="secondCtrlMatricula" required>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field style="font-size: 18px; width: 50%;">
              <mat-label>Batalhão</mat-label>
              <input matInput placeholder="Batalhão" formControlName="secondCtrlBatalhao" required>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="fill" style="font-size: 18px; width: 50%;">
              <mat-label>Patente</mat-label>
              <mat-select formControlName="secondCtrlPatente" required>
                <mat-option value="option1">Soldado</mat-option>
                <mat-option value="option2" disabled>Cabo (disabled)</mat-option>
                <mat-option value="option3">Tenente</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field style="font-size: 18px; width: 50%;">
              <mat-label>Especialidade</mat-label>
              <input matInput placeholder="Especialidade" formControlName="secondCtrlEspecialidade" required>
            </mat-form-field>
          </div>

        </div>

      </div>

      <div class="w3-row " style="text-align: center; margin-top: 50px; ">
        <div class="w3-half w3-container" style="text-align: center;">
          <button mat-raised-button matStepperNext
            style="font-size: 28px; color: white; background-color: red; line-height: 50px;">Voltar</button>
        </div>
        <div class="w3-half w3-container" style="text-align: center;">
          <button mat-raised-button matStepperNext
            style="font-size: 28px; color: white; background-color: green; line-height: 50px;">Continuar</button>
        </div>
      </div>

    </form>

  </mat-step>

  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>INFORMAÇÃO DA CONTA</ng-template>

      <div class="w3-row " style="text-align: center ">

        <div class="w3-row " style="text-align: center; margin-left: 10%; margin-right: 10%;">

          <div>
            <mat-form-field style="font-size: 18px; width: 50%;">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Matricula" formControlName="thirdCtrlEmail" required>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field style="font-size: 18px; width: 50%;">
              <mat-label>Senha</mat-label>
              <input matInput placeholder="Senha" formControlName="thirdCtrlSenha" required>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field style="font-size: 18px; width: 50%;">
              <mat-label>Confirmar Senha</mat-label>
              <input matInput placeholder="Confirmar Senha" formControlName="thirdCtrlConfirmSenha" required>
            </mat-form-field>
          </div>

        </div>
      </div>

      <div class="w3-row " style="text-align: center; margin-top: 50px; ">
        <div class="w3-half w3-container" style="text-align: center;">
          <button mat-raised-button matStepperNext
            style="font-size: 28px; color: white; background-color: red; line-height: 50px;">Voltar</button>
        </div>
        <div class="w3-half w3-container" style="text-align: center;">
          <button mat-raised-button matStepperNext
            style="font-size: 28px; color: white; background-color: green; line-height: 50px;">Finalizar</button>
        </div>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
